<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProjectMate</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/favicon.ico') }}">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', path='img/project_mate_logo.png') }}" alt="ProjectMate Logo" class="logo">
    <h1>Welcome to ProjectMate</h1>
    <p>Plan, manage, and track your projects effortlessly.</p>
    <a href="/auth/" class="login-btn">Login with Google</a>
  </div>
</body>
</html>


