<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProjectMate</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/favicon.ico') }}">
</head>
<body>
  <div class="login-card">
    <img src="{{ url_for('static', path='img/project_mate_logo.png') }}" alt="ProjectMate Logo" class="logo">
    <h1>Welcome to ProjectMate</h1>
    <p>Plan, manage, and track your projects effortlessly.</p>
    <!-- <a href="/login">Login with Google</a> -->

    <div class="auth-buttons">
      <a href="/login/google" class="auth-btn google">
        <img src="/static/img/google_logo.svg">
        Sign in with Google
      </a>
      <a href="/login/github" class="auth-btn github">
        <img src="/static/img/github_logo.svg">
        Sign in with GitHub
      </a>
      <a href="/login/apple" class="auth-btn apple">
        <img src="/static/img/apple_logo.svg">
        Sign in with Apple
      </a>
      <a href="/login/microsoft" class="auth-btn microsoft">
        <img src="/static/img/microsoft_logo.svg">
        Sign in with Microsoft
      </a>
    </div>

  </div>
</body>
</html>

